# INTRODUCTION

In [30]:
# 1. Get the data ready

import pandas as pd
import numpy as np
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# create x (Features matrix)
x = heart_disease.drop("target", axis=1)

# create y (labels)
y = heart_disease["target"]

In [4]:
#2. Choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# 3. Fit the model to the training data

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [14]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [16]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
195,59,1,0,170,326,0,0,140,1,3.4,0,0,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3

In [18]:
# make prediction 

#Predictions for y

y_preds = clf.predict(x_test)
y_preds

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0], dtype=int64)

In [19]:
y_test

31     1
218    0
184    0
16     1
234    0
      ..
197    0
297    0
38     1
145    1
95     1
Name: target, Length: 61, dtype: int64

In [20]:
# 4. Evaluate the model

clf.score(x_train, y_train)

1.0

In [21]:
clf.score(x_test, y_test)

0.8360655737704918

In [22]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [24]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.76      0.81        29
           1       0.81      0.91      0.85        32

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.83        61

In [25]:
confusion_matrix(y_test, y_preds)

array([[22,  7],
       [ 3, 29]], dtype=int64)

In [26]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [27]:
# 5. Improve the Model

#try differnt amount of n_parameters
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators..")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)* 100 : .2f} %")
    print("  ")

Trying model with 10 estimators..
Model accuracy on test set:  78.69 %

Trying model with 20 estimators..
Model accuracy on test set:  80.33 %

Trying model with 30 estimators..
Model accuracy on test set:  81.97 %

Trying model with 40 estimators..
Model accuracy on test set:  80.33 %

Trying model with 50 estimators..
Model accuracy on test set:  85.25 %

Trying model with 60 estimators..
Model accuracy on test set:  80.33 %

Trying model with 70 estimators..
Model accuracy on test set:  83.61 %

Trying model with 80 estimators..
Model accuracy on test set:  85.25 %

Trying model with 90 estimators..
Model accuracy on test set:  83.61 %

In [28]:
#6. Save the model and load it

import pickle

pickle.dump(clf, open("random_forest_model_1.pkl","wb"))

#wb-- write binary
#rb -- read binary

In [29]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8360655737704918